In [1]:
import pandas as pd

# Define the file path
file_path = 'file:///Users/zhujiaqi/trifecta/BKB/bgb_place.tsv'

# Read the TSV file without headers and specify column names
df_place = pd.read_csv(file_path, sep='\t', skiprows=1)

In [2]:
df_place

,id,naam,added_when,added_by,timestamp,regio,voc_place_ID,standardized toponym,URI,lat,long
0,902,Kupang,5/6/08 11:43,Admin,5/6/08 11:44,3169.0,vocUniquePlaceID_5164,Kupang ID,http://sws.geonames.org/2057087/,-10.17083,123.60694
1,903,Pontianak,5/6/08 11:43,Admin,5/6/08 11:44,3171.0,vocUniquePlaceID_5165,Pontianak ID,http://sws.geonames.org/1630789/,-0.03194,109.32500
2,900,Kisar,5/6/08 11:43,Admin,5/6/08 11:44,3162.0,vocUniquePlaceID_5166,Pulau Kisar ID,http://sws.geonames.org/1639966/,-8.06112,127.18200
3,901,Solor,5/6/08 11:43,Admin,5/6/08 11:44,3169.0,vocUniquePlaceID_5167,Pulau Solor ID,http://sws.geonames.org/1626638/,-8.46650,123.00160
4,899,"Ai, Pulau",5/6/08 11:43,Admin,5/6/08 11:44,3162.0,vocUniquePlaceID_5168,Pulau Ai ID,http://sws.geonames.org/1651834/,-4.52720,129.77403
...,...,...,...,...,...,...,...,...,...,...,...
142,962,Kedah,4/5/13 13:25,NicolienK,4/5/13 13:26,3115.0,vocUniquePlaceID_5270,Kuala Kedah MY,http://sws.geonames.org/1736305/,6.10000,100.30000
143,963,Calicoilan,4/9/13 15:47,DorineS,4/9/13 15:47,NaN,vocUniquePlaceID_5208,Kāyankulam IN,http://sws.geonames.org/1267360/,9.18173,76.50093
144,964,Kaap Comorijn,4/9/13 15:48,DorineS,4/17/13 11:43,NaN,vocUniquePlaceID_5214,Cape Comorin IN,http://sws.geonames.org/1273845/,8.07730,77.55148
145,965,Mandar,4/15/13 10:15,DorineS,4/15/13 10:15,NaN,vocUniquePlaceID_5275,Mandar ID,http://sws.geonames.org/7589528/,-3.47250,119.39080
146,966,Pamanukan,6/27/13 11:09,NicolienK,7/3/13 9:45,3130.0,vocUniquePlaceID_5276,Pamanukan ID,http://sws.geonames.org/1632998/,-6.28417,107.81056

In [3]:
# Drop columns 
columns_to_drop = ['added_when', 'added_by', 'timestamp']
df_place = df_place.drop(columns=columns_to_drop)

In [4]:
import pandas as pd

# Define the file path
file_path = 'file:///Users/zhujiaqi/trifecta/BKB/bgb_regio.tsv'

# Define column names
column_names = ['id', 'naam', 'added_when', 'added_by', 'timestamp']
    
# Read the TSV file without headers and specify column names
df_regio = pd.read_csv(file_path, sep='\t',skiprows=1)

In [5]:
df_regio

      id                  naam     added_when added_by      timestamp
0   3059    Kaap de Goede Hoop   5/6/08 11:46    Admin   5/6/08 11:47
1   3061             Mauritius   5/6/08 11:46    Admin   5/6/08 11:47
2   3062                 Mokka   5/6/08 11:46    Admin   5/6/08 11:47
3   3063                Perzië   5/6/08 11:46    Admin   5/6/08 11:47
4   3068                 Surat   5/6/08 11:46    Admin   5/6/08 11:47
5   3076               Malabar   5/6/08 11:46    Admin   5/6/08 11:47
6   3082                Ceylon   5/6/08 11:46    Admin   5/6/08 11:47
7   3093            Coromandel   5/6/08 11:46    Admin   5/6/08 11:47
8   3106              Bengalen   5/6/08 11:46    Admin   5/6/08 11:47
9   3113                  Siam   5/6/08 11:46    Admin   5/6/08 11:47
10  3115               Malakka   5/6/08 11:46    Admin   5/6/08 11:47
11  3118                 Jambi   5/6/08 11:46    Admin   5/6/08 11:47
12  3119             Palembang   5/6/08 11:46    Admin   5/6/08 11:47
13  3120    Sumatra's Westkust   5/6/08 11:46    Admin   5/6/08 11:47
14  3128                Bantam   5/6/08 11:46    Admin   5/6/08 11:47
15  3129               Batavia   5/6/08 11:46    Admin   5/6/08 11:47
16  3130              Cheribon   5/6/08 11:46    Admin   5/6/08 11:47
17  3133  Java's Noordoostkust   5/6/08 11:46    Admin  7/31/13 10:46
18  3145               Ternate   5/6/08 11:46    Admin   5/6/08 11:47
19  3153               Amboina   5/6/08 11:46    Admin   5/6/08 11:47
20  3162                 Banda   5/6/08 11:46    Admin   5/6/08 11:47
21  3169                 Timor   5/6/08 11:46    Admin   5/6/08 11:47
22  3171             Pontianak   5/6/08 11:46    Admin  3/18/13 10:40
23  3172          Bandjarmasin   5/6/08 11:46    Admin   5/6/08 11:47
24  3173              Makassar   5/6/08 11:46    Admin   5/6/08 11:47
25  3177                 China   5/6/08 11:46    Admin   5/6/08 11:47
26  3180                 Japan   5/6/08 11:46    Admin   5/6/08 11:47
27  3185             Republiek   5/6/08 11:46    Admin  4/10/13 11:02
28  3190                 Birma            NaN      jsc  11/9/11 10:10
29  3192          Cochin-China  4/17/13 12:20    Admin  4/17/13 12:20

In [6]:
# Drop columns 
columns_to_drop = ['added_when', 'added_by', 'timestamp']
df_regio = df_regio.drop(columns=columns_to_drop)

In [7]:
# merge
place_regio_data = pd.merge(df_place, df_regio, left_on='regio', right_on='id')
place_regio_data

,id_x,naam_x,regio,voc_place_ID,standardized toponym,URI,lat,long,id_y,naam_y
0,902,Kupang,3169.0,vocUniquePlaceID_5164,Kupang ID,http://sws.geonames.org/2057087/,-10.17083,123.60694,3169,Timor
1,901,Solor,3169.0,vocUniquePlaceID_5167,Pulau Solor ID,http://sws.geonames.org/1626638/,-8.46650,123.00160,3169,Timor
2,903,Pontianak,3171.0,vocUniquePlaceID_5165,Pontianak ID,http://sws.geonames.org/1630789/,-0.03194,109.32500,3171,Pontianak
3,900,Kisar,3162.0,vocUniquePlaceID_5166,Pulau Kisar ID,http://sws.geonames.org/1639966/,-8.06112,127.18200,3162,Banda
4,899,"Ai, Pulau",3162.0,vocUniquePlaceID_5168,Pulau Ai ID,http://sws.geonames.org/1651834/,-4.52720,129.77403,3162,Banda
...,...,...,...,...,...,...,...,...,...,...
125,934,Amsterdam,3185.0,vocUniquePlaceID_0207,Amsterdam NL,http://sws.geonames.org/2759794/,52.37403,4.88969,3185,Republiek
126,936,Rotterdam,3185.0,vocUniquePlaceID_3933,Rotterdam NL,http://sws.geonames.org/2747891/,51.92250,4.47917,3185,Republiek
127,937,Hoorn,3185.0,vocUniquePlaceID_2259,Hoorn NL,http://sws.geonames.org/2753638/,52.64250,5.05972,3185,Republiek
128,954,Zeeland,3185.0,vocUniquePlaceID_5072,Zeeland NL,http://sws.geonames.org/2744011/,51.69750,5.67639,3185,Republiek
129,955,Enkhuizen,3185.0,vocUniquePlaceID_1528,Enkhuizen NL,http://sws.geonames.org/2756077/,52.70333,5.29167,3185,Republiek

In [8]:
# Define the file path
file_path = 'file:///Users/zhujiaqi/trifecta/BKB/opium.csv'
    
# Read the TSV file without headers and specify column names
opium = pd.read_csv(file_path)
opium

,carId,carVoyageId,carProductId,carSpecificationId,carUnit,carQuantity,carQuantityNumeric,carValue,carValueGuldens,carValueStuivers,...,voyageDAS,voySourceId,voynumber,voyImage,voyRemarksForEndUser,voyDepartureRegioId,voyArrivalRegioId,voyFolioNummer,all_fields_y,first_ship_name
0,646738,99404,1142,781.0,69,4.359,4359.0,"21.075,7,8",21075.0,7.0,...,95395.0,148.0,50,NaN,NaN,3185,3129,3,50 Batavia Batavia Amsterdam Republiek 1780 ...,Overduin
1,646807,99410,1142,781.0,69,1.920,1920.0,"9.279,50",9279.0,5.0,...,95397.0,148.0,56,NaN,NaN,3185,3129,3,56 Batavia Batavia Amsterdam Republiek 1780 ...,Willem Frederik
2,646995,99425,1142,659.0,67,500,500.0,"0,0,0",0.0,0.0,...,NaN,147.0,71,NaN,NaN,3106,3129,24,71 Batavia Batavia Bengalen 1790 1790 24 S...,Stralen
3,647332,99449,1142,659.0,69,12.300,12300.0,"499.631,17,8",499631.0,17.0,...,NaN,148.0,96,NaN,NaN,3106,3129,37,96 Batavia Batavia Bengalen 1780 1780 37 D...,Dankbaarheid
4,649969,99730,1142,659.0,67,347,347.0,"218.421,15",218421.0,15.0,...,NaN,146.0,506,NaN,NaN,3106,3129,32,506 Batavia Batavia Bengalen 1787 1787 32 ...,Standvastigheid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,894901,117790,1142,NaN,69,50.818,50818.0,NaN,NaN,NaN,...,NaN,113.0,18364,NaN,NaN,3106,3129,74,18364 Batavia Batavia Bengalen 1729 1729 74...,Meerhuizen
194,894929,117791,1142,NaN,257,535xx,NaN,NaN,NaN,NaN,...,NaN,113.0,18365,NaN,NaN,3106,3129,75,18365 Batavia Batavia Bengalen 1729 1729 75...,Petronella Alida
195,894960,117792,1142,NaN,69,26.100,26100.0,NaN,NaN,NaN,...,NaN,113.0,18366,NaN,NaN,3106,3129,76,18366 Batavia Batavia Bengalen 1729 1729 76...,'s Heer Arendskerke
196,894991,117793,1142,NaN,69,29.000,29000.0,NaN,NaN,NaN,...,NaN,113.0,18367,NaN,NaN,3106,3129,76,18367 Batavia Batavia Bengalen 1729 1729 76...,Bentveld
197,902484,118190,1142,17054.0,69,61.064,61064.0,"281.749,9,8",281749.0,9.0,...,NaN,145.0,18756,NaN,The ship was rented by the VOC.,3106,3129,300,18756 Batavia Batavia Bengalen The ship was r...,Bengall Marchant

In [9]:
# merge
opium_departure_place = pd.merge(opium, place_regio_data, left_on='voyDeparturePlaceId', right_on='id_x')
opium_departure_place
# due to merge, "id_x" and naam_x" columns are places, "id_y" and "naam_y" columns are regions

,carId,carVoyageId,carProductId,carSpecificationId,carUnit,carQuantity,carQuantityNumeric,carValue,carValueGuldens,carValueStuivers,...,id_x,naam_x,regio,voc_place_ID,standardized toponym,URI,lat,long,id_y,naam_y
0,646738,99404,1142,781.0,69,4.359,4359.00,"21.075,7,8",21075.0,7.0,...,934,Amsterdam,3185.0,vocUniquePlaceID_0207,Amsterdam NL,http://sws.geonames.org/2759794/,52.37403,4.88969,3185,Republiek
1,646807,99410,1142,781.0,69,1.920,1920.00,"9.279,50",9279.0,5.0,...,934,Amsterdam,3185.0,vocUniquePlaceID_0207,Amsterdam NL,http://sws.geonames.org/2759794/,52.37403,4.88969,3185,Republiek
2,663416,101181,1142,781.0,69,1.319,1319.00,"6.117,19",6117.0,19.0,...,934,Amsterdam,3185.0,vocUniquePlaceID_0207,Amsterdam NL,http://sws.geonames.org/2759794/,52.37403,4.88969,3185,Republiek
3,663355,101170,1142,781.0,69,439,439.00,"2.034,13,8",2034.0,13.0,...,934,Amsterdam,3185.0,vocUniquePlaceID_0207,Amsterdam NL,http://sws.geonames.org/2759794/,52.37403,4.88969,3185,Republiek
4,651496,99921,1142,659.0,67,2,2.00,"1.249,12,8",1249.0,12.0,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
5,654899,100204,1142,659.0,67,2,2.00,1.584,1584.0,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
6,661480,100964,1142,1447.0,69,600,600.00,"2.407,40",2407.0,4.0,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
7,675283,102555,1142,NaN,69,150,150.00,"617,6,8",617.0,6.0,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
8,840705,115121,1142,19623.0,67,3,3.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
9,718538,106563,1142,NaN,67,1,1.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
10,723816,107040,1142,NaN,69,1.740,1740.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
11,724044,107057,1142,NaN,69,290,290.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
12,727452,107423,1142,659.0,69,145,145.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
13,727497,107425,1142,659.0,69,145,145.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
14,741207,108713,1142,NaN,69,13832 1/4,13832.25,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
15,741462,108732,1142,659.0,69,27663 1/2,27663.50,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
16,744226,108818,1142,18245.0,69,8,8.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
17,761471,110611,1142,NaN,69,870,870.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
18,762560,110708,1142,659.0,69,1.450,1450.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
19,762858,110732,1142,659.0,69,2.900,2900.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
20,763518,110791,1142,NaN,69,290,290.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
21,773354,111636,1142,659.0,69,290,290.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
22,774566,111761,1142,659.0,69,290,290.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
23,775486,111815,1142,659.0,69,290,290.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
24,777974,112044,1142,659.0,69,145,145.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
25,779656,112179,1142,659.0,69,145,145.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
26,796668,113248,1142,659.0,69,290,290.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
27,798200,113276,1142,NaN,69,1.740,1740.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
28,799923,113322,1142,20714.0,69,10,10.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
29,813051,113731,1142,21450.0,69,6,6.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
30,801923,113385,1142,799.0,69,3,3.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
31,804059,113433,1142,NaN,69,1.740,1740.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
32,811018,113709,1142,20976.0,104,10,10.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
33,817662,113769,1142,7702.0,69,6,6.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
34,860342,116100,1142,7702.0,69,5,5.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
35,838612,115094,1142,NaN,67,10,10.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
36,838666,115096,1142,7818.0,67,8,8.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
37,839165,115109,1142,7827.0,67,10,10.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
38,842361,115231,1142,NaN,67,12,12.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
39,842371,115232,1142,10398.0,67,10,10.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
40,842800,115246,1142,NaN,67,10,10.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
41,858226,116055,1142,NaN,69,725,725.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
42,863575,116179,1142,NaN,69,1.160,1160.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
43,863669,116191,1142,NaN,69,580,580.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
44,881506,117296,1142,659.0,69,290,290.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
45,881546,117298,1142,659.0,69,870,870.00,NaN,NaN,NaN,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
46,653813,100058,1142,659.0,67,14,14.00,"11.344,90",11344.0,9.0,...,847,Malakka,3115.0,vocUniquePlaceID_2962,Malakka MY,http://sws.geonames.org/1734759/,2.19600,102.24050,3115,Malakka
47,747166,109157,1142,NaN,69,8.265,8265.00,NaN,NaN,NaN,...,929,Hooghly,3106.0,vocUniquePlaceID_2247,Hooghly IN,http://sws.geonames.org/1269911/,22.82893,88.20099,3106,Bengalen
48,747175,109158,1142,NaN,69,8.120,8120.00,NaN,NaN,NaN,...,929,Hooghly,3106.0,vocUniquePlaceID_2247,Hooghly IN,http://sws.geonames.org/1269911/,22.82893,88.20099,3106,Bengalen
49,843316,115310,1142,10537.0,69,870,870.00,NaN,NaN,NaN,...,929,Hooghly,3106.0,vocUniquePlaceID_2247,Hooghly IN,http://sws.geonames.org/1269911/,22.82893,88.20099,3106,Bengalen
50,850909,115646,1142,NaN,69,101.210,101210.00,NaN,NaN,NaN,...,929,Hooghly,3106.0,vocUniquePlaceID_2247,Hooghly IN,http://sws.geonames.org/1269911/,22.82893,88.20099,3106,Bengalen
51,850938,115647,1142,NaN,69,21.750,21750.00,NaN,NaN,NaN,...,929,Hooghly,3106.0,vocUniquePlaceID_2247,Hooghly IN,http://sws.geonames.org/1269911/,22.82893,88.20099,3106,Bengalen
52,850980,115648,1142,NaN,69,51.765,51765.00,NaN,NaN,NaN,...,929,Hooghly,3106.0,vocUniquePlaceID_2247,Hooghly IN,http://sws.geonames.org/1269911/,22.82893,88.20099,3106,Bengalen
53,876635,116901,1142,NaN,69,29.000,29000.00,NaN,NaN,NaN,...,929,Hooghly,3106.0,vocUniquePlaceID_2247,Hooghly IN,http://sws.geonames.org/1269911/,22.82893,88.20099,3106,Bengalen
54,876667,116902,1142,NaN,69,58.000,58000.00,NaN,NaN,NaN,...,929,Hooghly,3106.0,vocUniquePlaceID_2247,Hooghly IN,http://sws.geonames.org/1269911/,22.82893,88.20099,3106,Bengalen
55,876709,116903,1142,NaN,69,25.955,25955.00,NaN,NaN,NaN,...,929,Hooghly,3106.0,vocUniquePlaceID_2247,Hooghly IN,http://sws.geonames.org/1269911/,22.82893,88.20099,3106,Bengalen
56,843802,115344,1142,10683.0,69,1.450,1450.00,NaN,NaN,NaN,...,927,Colombo,3082.0,vocUniquePlaceID_1070,Colombo LK,http://sws.geonames.org/1248991/,6.93194,79.84778,3082,Ceylon

In [10]:
# which regions are the regions where opium departed? 
opium_departure_place['naam_y'].value_counts()

Batavia      42
Bengalen      9
Republiek     4
Malakka       1
Ceylon        1
Name: naam_y, dtype: int64

In [11]:
opium_arrival_place = pd.merge(opium, place_regio_data, left_on='voyArrivalPlaceId', right_on='id_x')
opium_arrival_place
# due to merge, "id_x" and naam_x" columns are places, "id_y" and "naam_y" columns are regions

,carId,carVoyageId,carProductId,carSpecificationId,carUnit,carQuantity,carQuantityNumeric,carValue,carValueGuldens,carValueStuivers,...,id_x,naam_x,regio,voc_place_ID,standardized toponym,URI,lat,long,id_y,naam_y
0,646738,99404,1142,781.0,69,4.359,4359.0,"21.075,7,8",21075.0,7.0,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
1,646807,99410,1142,781.0,69,1.920,1920.0,"9.279,50",9279.0,5.0,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
2,646995,99425,1142,659.0,67,500,500.0,"0,0,0",0.0,0.0,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
3,647332,99449,1142,659.0,69,12.300,12300.0,"499.631,17,8",499631.0,17.0,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
4,649969,99730,1142,659.0,67,347,347.0,"218.421,15",218421.0,15.0,...,861,Batavia,3129.0,vocUniquePlaceID_2357,Jakarta ID,http://sws.geonames.org/1642911/,-6.21462,106.84513,3129,Batavia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,842361,115231,1142,NaN,67,12,12.0,NaN,NaN,NaN,...,865,Japara,3133.0,vocUniquePlaceID_5198,Jepara ID,http://sws.geonames.org/1642548/,-6.59240,110.67100,3133,Java's Noordoostkust
175,842800,115246,1142,NaN,67,10,10.0,NaN,NaN,NaN,...,862,Cheribon,3130.0,vocUniquePlaceID_1044,Cirebon ID,http://sws.geonames.org/1646170/,-6.70630,108.55700,3130,Cheribon
176,863575,116179,1142,NaN,69,1.160,1160.0,NaN,NaN,NaN,...,862,Cheribon,3130.0,vocUniquePlaceID_1044,Cirebon ID,http://sws.geonames.org/1646170/,-6.70630,108.55700,3130,Cheribon
177,843316,115310,1142,10537.0,69,870,870.0,NaN,NaN,NaN,...,815,Galle,3082.0,vocUniquePlaceID_1686,Galle LK,http://sws.geonames.org/1246294/,6.03670,80.21700,3082,Ceylon
178,863669,116191,1142,NaN,69,580,580.0,NaN,NaN,NaN,...,867,Tegal,3133.0,vocUniquePlaceID_5196,Tegal ID,http://sws.geonames.org/1624494/,-6.86940,109.14020,3133,Java's Noordoostkust

In [12]:
# which regions are the regions where opium arrived? 
opium_arrival_place['naam_y'].value_counts()

Batavia                 149
Ceylon                    7
Java's Noordoostkust      7
Ternate                   6
Jambi                     4
Cheribon                  2
Sumatra's Westkust        1
Coromandel                1
Malakka                   1
Palembang                 1
Name: naam_y, dtype: int64